<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.interedes.agriculturappv2">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AgriculturApp"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.home.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.login.LoginActivity"
            android:configChanges="screenSize|orientation"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.register_user.RegisterUserActivity"
            android:parentActivityName=".activities.home.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.productor.register_productor.RegisterProductorActivity"
            android:configChanges="screenSize|orientation"
            android:parentActivityName=".activities.register_user.RegisterUserActivity"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.comprador.register_comprador.RegisterCompradorActivity"
            android:configChanges="screenSize|orientation"
            android:parentActivityName=".activities.register_user.RegisterUserActivity"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.profile.ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.productor.account_productor.MyAccountProductorActivity"
            android:parentActivityName=".activities.profile.ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.comprador.account_comprador.MyAccountCompradorActivity"
            android:parentActivityName=".activities.profile.ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.productor.mis_cultivos_productor.MisCultivosProductorActivity"
            android:parentActivityName=".activities.productor.account_productor.MyAccountProductorActivity"
            android:theme="@style/LoginTheme" />
        <activity
            android:name=".activities.productor.preguntas_productor.MisPreguntasProductorActivity"
            android:parentActivityName=".activities.productor.account_productor.MyAccountProductorActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.productor.ofertas_productor.MisOfertasProductorActivity"
            android:parentActivityName=".activities.productor.account_productor.MyAccountProductorActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.productor.mis_ventas_productor.MisVentasProductorActivity"
            android:parentActivityName=".activities.productor.account_productor.MyAccountProductorActivity"
            android:theme="@style/LoginTheme" />
        <activity
            android:name=".activities.productor.mis_clientes_productor.MisClientesProductorActivity"
            android:parentActivityName=".activities.productor.account_productor.MyAccountProductorActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.productor.asistencia_tecnica_productor.AsistenciaTecnicaProductorActivity"
            android:parentActivityName=".activities.productor.account_productor.MyAccountProductorActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.productor.agroinsumos_productor.AgroInsumosProductorActivity"
            android:parentActivityName=".activities.productor.account_productor.MyAccountProductorActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.productor.unidad_productiva_productor.UnidadProductivaActivity"
            android:configChanges="screenSize|orientation"
            android:parentActivityName=".activities.profile.ProfileActivity"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.productor.modulo_contable_productor.ModuloContableProductorActivity"
            android:parentActivityName=".activities.productor.account_productor.MyAccountProductorActivity"
            android:theme="@style/LoginTheme" />
        <activity
            android:name=".activities.comprador.mercado_comprador.MercadoCompradorActivity"
            android:parentActivityName=".activities.comprador.account_comprador.MyAccountCompradorActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver
            android:name=".services.internet_connection.ConnectivityReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>


    </application>

</manifest>